<a href="https://colab.research.google.com/github/ahforoughi/AIPRA/blob/master/python_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python!
This notebook is where you can review most of the basic concepts of Python that we covered during our workshop. You can run, edit, and experiment with the code blocks here.

Make sure you read the comments carefully to understand what each block of code does.

If you run into a compilation error, try to debug it! **debug! debug! debug! debug! debug!**

# Types

In [2]:
# First off, let's start with the basic basics. In Python, each object / 
# thing has a type. For example, a word like

print ("Hello World!") # This is a string
print (3) # This is an integer
print (4.5) # This is a float - a number with a decimal point
print ("I am", 50, "years old") # We can print multiple things by separating by commas

Hello World!
3
4.5
I am 50 years old

In [3]:
# We can check the type of an object using the type() 
print (type("Hello World!")) #"str" means string
print (type(3)) #"int" means integer
print (type(4.5)) #"float" means a number with a decimal

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
# Another basic type in Python is the boolean. 
# It can be used with logical operators like AND or OR

print (True and False) # This is False
print (True or False)  # This is True
print (True and True)  # This is True
print (False or False) # This is False
print("===========")

print('1 == 0: {}'.format(1 == 0))

print('1 != 0: {}'.format(1 != 0))
print('1 > 0: {}'.format(1 > 0))
print('1 > 1: {}'.format(1 > 1))

print('1 >= 0: {}'.format(1 >= 0))
print('1 >= 1: {}'.format(1 >= 1))

False
True
True
False
===========
1 == 0: False
1 != 0: test
1 > 0: True
1 > 1: False
1 >= 0: True
1 >= 1: True

# Variables

In [6]:
# In Python, we can store objects in variables.
# they can hold some sort of value which we can access and change anytime we want

greetings = "Hello World"
print (greetings)

name = "Amirhossein"
print ("My name is", name)

age = 50
print ("I am", age, "years old")

hungry = True
thirsty = True
print (hungry and thirsty) # prints True

Hello World
My name is Amirhossein
I am 50 years old
True

# Conditional

In [8]:
statement = True

if statement:
    print('statement is True')

if not statement:
    print('statement is not True')

statement is True

In [10]:
statement = True
if not statement:
    print('if')
else:
    print('else')

else

In [11]:
greeting = 'Hello fellow Pythonista!'
language = 'Italian'

if language == 'Swedish':
    greeting = 'Hejsan!'
elif language == 'Finnish':
    greeting = 'Latua perkele!'
elif language == 'Spanish':
    greeting = 'Hola!'
elif language == 'German':
    greeting = 'Guten Tag!'
    
print(greeting)

Hello fellow Pythonista!

# Lists

In [12]:
my_empty_list = []
print('empty list: {}, type: {}'.format(my_empty_list, type(my_empty_list)))

empty list: [], type: <class 'list'>

In [13]:
list_of_ints = [1, 2, 6, 6, 7]
list_of_misc = [0.2, 5, 'Python', 'is', 'still fun', '!']
print('lengths: {} and {}'.format(len(list_of_ints), len(list_of_misc)))

lengths: 5 and 6

In [14]:
my_list = ['Python', 'is', 'still', 'cool']
print(my_list[0])
print(my_list[3])

Python
cool

In [15]:
# Checking if certain value is present in list
languages = ['Java', 'C++', 'Go', 'Python', 'JavaScript']
if 'Python' in languages:
    print('Python is there!')

Python is there!

In [16]:
# list.append()
my_list = ['Java', 'C++', 'Go', 'Python', 'JavaScript']
my_list = [1]
print(my_list)
my_list.append('ham')
print(my_list)

[1]
[1, 'ham']

list.remove()
list.sort()
list.reverse()
list.pop()

In [17]:
my_list = ['Python', 'is', 'still', 'cool']
print(my_list)
print(my_list.pop(0))
print(my_list)

['Python', 'is', 'still', 'cool']
Python
['is', 'still', 'cool']

In [18]:
my_list = [3, 4, 1, 0]
my_list.sort()
print(my_list)

[0, 1, 3, 4]

In [19]:
my_list_numbers = [3, 4, 1, 0]
my_list_words = ['Python', 'is', 'still', 'cool']
my_list_numbers.extend(my_list_words)
print(my_list_numbers)
print(len(my_list_numbers))

[3, 4, 1, 0, 'Python', 'is', 'still', 'cool']
8

In [20]:
my_list_numbers = [3, 4, 1, 0]
my_list_words = ['Python', 'is', 'still', 'cool']
my_list_numbers.append(my_list_words)

print(my_list_numbers)
print(len(my_list_numbers))

[3, 4, 1, 0, ['Python', 'is', 'still', 'cool']]
5

In [21]:
my_list_words = ['Python', 'is', 'still', 'cool']
A = my_list_words
A.extend('!')
print(A)
print("===========")
print(my_list_words)

['Python', 'is', 'still', 'cool', '!']
===========
['Python', 'is', 'still', 'cool', '!']

You can get around this by creating new `list`:

In [22]:
original = [1, 2, 3]
modified = list(original)  # Note list() 
# Alternatively, you can use copy method
# modified = original.copy()
modified[0] = 99
print('original: {}, modified: {}'.format(original, modified))

original: [1, 2, 3], modified: [99, 2, 3]

# Loops

In [26]:
# Basically it does whatever follows 5 times.
# The "i" - a variable that helps us keep track where we are in a loop. 
for i in range(5):
    print ("python")

print("==========")

t = [0, 1, 2, 3, 4]
for i in range(5):
    print ("python", i)

python
python
python
python
python
==========
python 0
python 1
python 2
python 3
python 4

In [27]:
my_list = [1, 2, 3, 4, 'Python', 'is', 'neat']
for item in my_list:
    print(item)

1
2
3
4
Python
is
neat

### `break`
Stop the execution of the loop.

In [28]:
for item in my_list:
    if item == 'Python':
        break
    print(item)

1
2
3
4

In [29]:
for number in range(5):
    print(number)

0
1
2
3
4

In [30]:
for number in range(2, 5):
    print(number)

2
3
4

In [31]:
for number in range(0, 10, 2):  # last one is step
    print(number)

0
2
4
6
8

# Dictionaries

In [32]:
# Kind of like your ordinary dictionary, you have two main
# parts - the key and the value. In an actual dictionary,
# this is equivalent to the word and its definition.

dict1 = {'value1': 1.6, 'value2': 10, 'name': 'John Doe'}
dict2 = dict(value1=1.6, value2=10, name='John Doe')

print(dict1)
print(dict2)

print('equal: {}'.format(dict1 == dict2))
print('length: {}'.format(len(dict1)))

{'value1': 1.6, 'value2': 10, 'name': 'John Doe'}
{'value1': 1.6, 'value2': 10, 'name': 'John Doe'}
equal: True
length: 3

In [33]:
print('keys: {}'.format(dict1.keys()))
print('values: {}'.format(dict1.values()))
print('items: {}'.format(dict1.items()))

keys: dict_keys(['value1', 'value2', 'name'])
values: dict_values([1.6, 10, 'John Doe'])
items: dict_items([('value1', 1.6), ('value2', 10), ('name', 'John Doe')])

In [34]:
my_dict = {}
my_dict['key1'] = 'value1'
my_dict['key2'] = 99
my_dict['key1'] = 'new value'  # overriding existing value
print(my_dict)
print('value of key1: {}'.format(my_dict['key1']))

{'key1': 'new value', 'key2': 99}
value of key1: new value

In [35]:
my_dict = {'key1': 'value1', 'key2': 99, 'keyX': 'valueX'}
del my_dict['keyX']
print(my_dict)

# Usually better to make sure that the key exists (see also pop() and popitem())
key_to_delete = 'my_key'
if key_to_delete in my_dict:
    del my_dict[key_to_delete]
else:
    print('{key} is not in {dictionary}'.format(key=key_to_delete, dictionary=my_dict))

{'key1': 'value1', 'key2': 99}
my_key is not in {'key1': 'value1', 'key2': 99}

In [36]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
d = my_dict.get('d')
print('d: {}'.format(d))

d = my_dict.get('d', 'my default value')
print('d: {}'.format(d))

d: None
d: my default value

# Functions

In [37]:
# Imagine a function as a machine with three parts.
# First, there's the "input"
# The input is the parameter to the function
# The second part is the body of the function. This is
# where the function does something to the input
# And lastly, there's the return statement. This
# is where the function outputs the result

# For example, take a sandwich-making machine.
# The input would be the list of topings. For example, it may
# take inputs like ["cheese", "ham", "lettuce"]
# The body of the function involves actually making the sandwich
# by putting together the input (the ingredients) with
# bread and other condiments.
# Finally, the machine "returns" or serves the sandwich

# This is what a function looks like in Python
def add(x, y):
    result = x + y
    return result

print (add(2, 2))

4

In [38]:
#without return value
def greet_us(name1, name2):
    print('Hello {} and {}!'.format(name1, name2))

greet_us('John Doe', 'Superman')

Hello John Doe and Superman!

In [40]:
def my_fancy_calculation(first, second, third):
    """
    this is test
    """
    return first + second - third 

print(my_fancy_calculation(3, 2, 1))

print(my_fancy_calculation(first=3, second=2, third=1))

# With keyword arguments you can mix the order
print(my_fancy_calculation(third=1, first=3, second=2))

4
4
4

## Class

In [41]:
class MyClass:
  x = 5

In [42]:
p1 = MyClass()
print(p1.x)

5

In [43]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("amirhossein", 22)

print(p1.name)
print(p1.age)

amirhossein
22

In [44]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John